body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
body h1{
  color:red;
  font-size: large;
}
body p{
  text-align: center;
  color:grey;
}
.container{
  width: 33%;
  border:1px solid black;
  margin: auto;
  padding:3rem;

}
